<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header"/>
    <style>
        div {
            align-items: center;
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <h2>Edit costumer</h2>
    <form th:object="${customer}" th:action="@{/customer/add}" method="post">
        First name:
        <input type="text" th:field="*{firstName} "> <br> <br>

        Last Name
        <input type="text" name="lastname" th:field="*{lastName}"> <br> <br>

        Email:
        <input type="text" name="email" th:field="*{email}"> <br> <br>

        Phone:
        <input type="text" name="phone" th:field="*{phone}"> <br> <br>

        <div class="col-sm-3">
            <button type="submit">Submit</button>
            <a class="btn btn-default" th:href="@{/customer/list}">Customer List</a>
        </div>
    </form>
</div>

</body>
</html>